@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

* {
	margin: 0;
	padding: 0;
	/* font-family: 'Exo', sans-serif; */
	box-sizing: border-box;
  }
  
body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	/* font-family: Arial; */
	font-size: 12px;
	background-image: url(../IMG/vinho.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed
}

/* .body{
	/* position:fixed; */
	/* top: -20px; */
	/* left: -20px; */
	/* right: -40px; */
	/* bottom: -40px; */
	/* width: auto;; */
	/* height: auto; */
	/* background-image: url(../IMG/vinho.jpg); */
	
	/* -webkit-filter: blur(5px); */
	/* z-index: 0; */
/* } */ 

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	/* position: absolute; */
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
	position: absolute;
}

.header div{
    position: relative;
	float: left;
	color: rgb(179, 132, 58);
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
    left: -50px;
}

.header div span{
	color: white
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.container{
	position:relative;
    max-width: 1020px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Justifica os itens: Extrema direita/esquerda/meio*/
}

header{
    width: 100%;
    padding: 10px 4%;
    top: 0;
    left: 0;
    transition: .5s ;
}

header a{
    /* font-family: 'Poppins' , sans-serif; */
    font-size: 16px;
    color: rgb(179, 132, 58);
}


header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    
    text-decoration: none;
}

.btn-contato button{
    width: 110px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(29, 32, 54);
    color: #fff;
    cursor: pointer;
    transition: .2s;
}